


/*

                ПАЛИТРА:
       
#1a202a
#2a3549
#3f5374
#95acca
#f5f8fd

*/

.logInWripper {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    height: 800px;


    background:  rgb(149, 172, 202);
    
}

.logInForm {
    background: rgb(245, 248, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;/* Контент - Главная ось */
    align-items: center;/* Контент - Второстепенная ось */
    
    flex-basis: 450px;/* Главная ось */
    height: 400px;/* Недост. ось */
    align-self: center;/* Выравнивание */

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}


.LogIn {
    margin: 0;
    color: #414141;;
    font-size: 120%;
    font-weight: 700;
}
.gmail {
    margin-top: 15px;
    flex-basis: 30px;/* Главная ось */
    width: 80%;/* Второстепенная ось */
    border: 0;
    background: rgba(83, 136, 206, 0.15);
    border-bottom: 1px solid #7e7e7e;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 15px 0 rgba(0,0,0,0.20);
    transition: 0.2s;
}
.gmail:hover {
    border-bottom: 1px solid rgba(29, 211, 89, 0.6);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.15);
}

.password {
    margin-top: 10px;
    flex-basis: 30px;/* Главная ось */
    width: 80%;/* Второстепенная ось */
    /* background: rgba(149, 172, 202, 0.1); */
    background: rgba(83, 136, 206, 0.15);
    border: 0;
    border-bottom: 1px solid #7e7e7e;
    outline: none;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 15px 0 rgba(0,0,0,0.20);

}
.password:hover {
    border-bottom: 1px solid rgba(29, 211, 89, 0.6);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.15);
}

.buttonLogIn {
    margin-top: 30px;
    flex-basis: 25px;
    width: 200px;

    background: rgba(29, 211, 89, 0.6);

    border-bottom: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-radius: 3px;

    outline: none;

    box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
    transition: 0.3s;/* Время анимации */
    cursor: pointer;
}
.buttonLogIn:hover {
    background: rgba(29, 211, 89, 0.7);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}

.reg {
    margin-top: 15px;

    display: flex;
    justify-content: center;

    text-decoration: none;
    color: #414141;
    font-size: 120%;
    font-weight: 700;

    transition: 100ms;
}
.reg:hover {
    color: rgba(29, 211, 89, 0.5);
}





@media (max-width:768px){     /* тут лучше уже всё по вертикали или бургер меню */
    .logInWripper {
        height: 100%;
    }
    .logInForm {
        height: 640px;
    }
}
@media (max-width:580px){ /* Придуманная точка */
    .logInForm {
        flex-basis: 100%;/* Главная ось */
        height: 100%;/* Недост. ось */
    }
    .LogIn {
        font-size: 30px;
        font-weight: 800;
    }
    .gmail {
        flex-basis: 50px;/* Главная ось */
        width: 80%;/* Второстепенная ось */
        margin-top: 30px;
    }
    .password {
        flex-basis: 50px;/* Главная ось */
        width: 80%;/* Второстепенная ось */
        margin-top: 10px;
    }
    .buttonLogIn {
        flex-basis:60px;
        width: 200px;
    }
    .reg {
        margin-top: 30px;
        font-size: 25px;
    }
    .logInForm {
        box-shadow: none;
    }
  }