.wripper {
  background:  rgb(149, 172, 202);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.UploadedFiles {
  margin: 0;
  color: #414141;
  font-size: 120%;
  font-weight: 700;
}

.listInfo {
  display: flex;
  border: 1px solid black;
}
.name {
  flex-basis: 20%;
  margin-left: 30px;
  background: #48627a;
  text-align: center;
}
.id {
  flex-basis: 5%;
  background: #8bc7ff;
  text-align: center;
}
.size {
  flex-basis: 20%;
  background: #48627a;
  text-align: center;
}
.date {
  flex-basis: 55%;
  background: #8bc7ff;
  text-align: center;
}

.list {
  background: rgb(245, 248, 253);
  width: 95%;
  height: 100%;
}