.torrentList {
  width: 99.8%;
  
  
  /* background: #13283b;
  background: linear-gradient(to right,#244c5e, #1a2f36, #0e1d24); */

  background: white;

  
  height: 70px;
  max-height: 70px;

  border: 1px solid black;
  /* color: #414141; */
  color: white;

  display: flex;
}

.name {
  flex-basis: 35%;
  padding-left: 30px;
  background: #48627a;
  text-align: center;

  align-self: center; /* убр. margin */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.torrentName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .id {
  flex-basis: 5%;
  background: #8bc7ff;
  text-align: center;
} */
.size {
  flex-basis: 20%;
  background: #48627a;
  text-align: center;

  align-self: center; /* убр. margin */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}
.date {
  flex-basis: 35%;
  background: #8bc7ff;
  text-align: center;

  align-self: center; /* убр. margin */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}




.button {
  /* margin-top: 30px; */
  /* flex-basis: 25px; */
  flex-basis: 10%;

  /* width: 100px; */
  /* height: 50%; */
  background: rgba(29, 211, 89, 0.6);
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  transition: 0.3s;/* Время анимации */
  cursor: pointer;
  white-space: nowrap;

  align-self: center; /* убр. margin */
  height: 100%;
}
.button:hover {
  background: rgba(29, 211, 89, 0.7);
}




.buttonDelete {
  /* margin-top: 30px; */
  /* flex-basis: 25px; */
  flex-basis: 10%;

  /* width: 100px; */
  /* height: 50%; */
  background: rgba(211, 29, 29, 0.6);
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  transition: 0.3s;/* Время анимации */
  cursor: pointer;

  align-self: center; /* убр. margin */
  height: 100%;
}
.buttonDelete:hover {
  background: rgba(211, 29, 29, 0.7);
}




@media (max-width:1200px){
  
}
@media (max-width:992px){
  .torrentList {
    width: 99.7%;
  }
}
@media (max-width:768px){

}
@media (max-width:580px){

}