.torrentList {
  width: 99.9%;
  
  /* background: #13283b;
  background: linear-gradient(to right,#244c5e, #1a2f36, #0e1d24); */

  border: 1px solid black;
  /* color: #414141; */
  color: white;

  display: flex;
}

.name {
  flex-basis: 20%;
  padding-left: 30px;
  background: #48627a;
  text-align: center;
}
.id {
  flex-basis: 5%;
  background: #8bc7ff;
  text-align: center;
}
.size {
  flex-basis: 20%;
  background: #48627a;
  text-align: center;
}
.date {
  flex-basis: 55%;
  background: #8bc7ff;
  text-align: center;
}




.button {
  /* margin-top: 30px; */
  flex-basis: 25px;
  width: 200px;
  background: rgba(29, 211, 89, 0.6);
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
  cursor: pointer;
}
.button:hover {
  background: rgba(29, 211, 89, 0.7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}




.buttonDelete {
  /* margin-top: 30px; */
  flex-basis: 25px;
  width: 200px;
  background: rgba(211, 29, 29, 0.6);
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
  cursor: pointer;
}
.buttonDelete:hover {
  background: rgba(211, 29, 29, 0.7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}
