.torrentList {
  width: 99.9%;
  
  /* background: #13283b;
  background: linear-gradient(to right,#244c5e, #1a2f36, #0e1d24); */

  border: 1px solid black;
  color: #414141;

  display: flex;
}

.name {
  flex-basis: 20%;
  margin-left: 30px;
  background: #48627a;
  text-align: center;
}
.id {
  flex-basis: 5%;
  background: #8bc7ff;
  text-align: center;
}
.size {
  flex-basis: 20%;
  background: #48627a;
  text-align: center;
}
.date {
  flex-basis: 55%;
  background: #8bc7ff;
  text-align: center;
}