.wripper {
    width: 100%;
    background: rgb(149, 172, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.DownloadPogress {
    margin: 0;
    color: #414141;;
    font-size: 120%;
    font-weight: 700;
    width: 100%;
    text-align: center;

    background: #ff5b5b;
}


.progress {
    border-radius: 0;
    color: rgba(29, 211, 89, 0.6);
}


.downloadSpeed {
    color: #414141;;
    font-size: 100%;
    font-weight: 700;


    background: #f13333;
}


.downloaded {
    color: #414141;;
    font-size: 100%;
    font-weight: 700;


    background: #d6ec0d;
}
