.wripper {
    width: 100%;
    background: rgb(149, 172, 202); /* Бывший цвет */
    /* background: #13113d; */
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progressContainer {
    /* background: #31b659; */
    background: white;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DownloadPogress {
    margin: 0;
    color: #414141;;
    font-size: 120%;
    font-weight: 700;
    width: 100%;
    text-align: center;

    background: #ff5b5b;
}



.downloadData {
    /* background: #5bc3ff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    border: 1px solid rgba(80, 80, 80, 0.5);

}
.paragraphProgress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 25%;
}
.progress {
    border-radius: 0;
    /* color: rgba(29, 211, 89, 0.6); */
    background-color: rgba(217, 255, 0, 0.863);


    background: yellow;

    margin: 0 auto;
}
.downloadSpeed {
    color: #414141;
    font-size: 100%;
    font-weight: 700;

    flex-basis: 15%;

    text-align: center;

    background: #f13333;
}
.downloaded {
    color: #414141;;
    font-size: 100%;
    font-weight: 700;

    flex-basis: 30%;

    text-align: center;

    background: #d6ec0d;
}
.stopDownloadButton {
    flex-basis: 30%;
    background: rgba(211, 29, 29, 0.6);
    /* background: rgba(211, 29, 29, 0.7); */
    border: 1px solid #7e7e7e;

    margin: 0 auto;
    flex-basis: 120px;

    transition: 0.3s;
    outline: none;
}
.stopDownloadButton:hover {
    background: rgba(211, 29, 29, 0.75);
}






.filesContainer {
    flex-basis: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}


.downloadButtonActive {
    margin-top: 30px;
    flex-basis: 25px;
    width: 300px;
    height: 25px;

    background: rgba(29, 211, 89, 0.6);

    border-bottom: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-radius: 3px;

    outline: none;

    color: #414141;
    text-decoration: none;
    font-size: 100%;
    font-weight: 700;

    box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
    transition: 0.3s;/* Время анимации */
    cursor: pointer;
}
.downloadButtonActive:hover {
    background: rgba(29, 211, 89, 0.7);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}


.downloadButton {
    margin-top: 30px;
    flex-basis: 25px;
    width: 300px;
    height: 25px;

    background: rgba(173, 173, 173, 0.6);

    border-bottom: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-radius: 3px;

    outline: none;

    color: #414141;
    text-decoration: none;
    font-size: 100%;
    font-weight: 700;

    box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
    transition: 0.3s;/* Время анимации */
    cursor: default;
    pointer-events: none;
}







.loadingContainer {
    background: rgb(245, 248, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;/* Контент - Главная ось */
    flex-basis: 65px;/* Главная ось */
    width: 150px;
    align-self: center;/* Выравнивание */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Loading {
    margin: 0;
    color: #414141;
    font-size: 120%;
    font-weight: 700;
    width: 100%;
    text-align: center;

    animation-name: loading-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


   /*  animation-name: error-anim;
    animation-duration: 4s; */

    /* animation-play-state: paused; */
    /* animation-fill-mode: forwards; */
  

@keyframes loading-anim {
    0% {
        color: #414141;
    }
    50% {
        color: #1dd359b3;
    }
    100% {
        color: #414141;
    }
}




















/* .button {
    margin-top: 30px;
    flex-basis: 25px;
    width: 200px;
    height: 25px;

    background: rgba(29, 211, 89, 0.6);

    border-bottom: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-radius: 3px;

    outline: none;

    box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
    transition: 0.3s;
    cursor: pointer;
}
.button:hover {
    background: rgba(29, 211, 89, 0.7);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
} */