header {
    
    height: 33px;
    width: 100%;
    padding: 3px 0 3px 0;


    max-width: 1920px;
    background: #fff;

    border-bottom: 1px solid black;

    display: flex;
    justify-content: row;

}


.styleUl {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    margin: 0 auto;

    /* background: #a6ff00; */
}
li {
    list-style-type: none;
}
.headerNavigation {
    flex: 1 0 auto; /* grow , shrink, basis */
}


.logo {
    text-decoration: none;
    color: #394040;
    padding-left: 45px;
    flex-basis: 75%;
    /* background: #ff00bf; */
}

.navLink {
    text-decoration: none;
    color: #394040;
    font-size: 120%;
    font-weight: 700;

    flex-basis: 20%;
    /* background: rgba(29, 211, 89, 0.7); */

    transition: 0.1s;
}
.navLink:hover {
    color: rgba(29, 211, 89, 0.7);
}

.userName {
    color: #394040;
    font-size: 120%;
    font-weight: 700;
    flex-basis: 15%;

    /* background: rgba(33, 9, 243, 0.7); */
}




@media (max-width:1920px){
    .logo {
        flex-basis: 70%;
    }
    .navLink {
        flex-basis: 10%;
    }
    .userName {
        flex-basis: 15%;
    }
}
@media (max-width:1430px){
    .logo {
        flex-basis: 70%;
    }
}
@media (max-width:1260px){
    .logo {
        flex-basis: 70%;
        padding-left: 35px;
    }
    .navLink {
        flex-basis: 10%;
    }
  }
@media (max-width:1200px){
    .logo {
        
    }
    .navLink {
        flex-basis: 10%;
    }

  }
  @media (max-width:992px){
    .logo {
        flex-basis: 70%;
        padding-left: 35px;
    }
    .navLink {
        flex-basis: 10%;
    }
  }
  @media (max-width:768px){
    .logo {
        /* height: 0;
        width: 0; */
        flex-basis: 60%;
        padding-left: 30px;
    }
    .navLink {
        flex-basis: 10%;
    }
    ul {

    }
    .userName {

    }
  }