header {
    
    height: 33px;
    width: 100%;
    padding: 3px 0 3px 0;


    max-width: 1920px;
    background: #fff;

    border-bottom: 1px solid black;

    display: flex;
    justify-content: row;

}


.errorBlock {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    /* margin: 0px auto; */
    margin-left: 0 auto;
    background: red;
    height: 0;
    top: -30px;
  }
  .error {

    margin: 0;
    color: #414141;;
    font-size: 120%;
    font-weight: 700;


    display: block;
    background: rgb(240, 152, 152);
    z-index: 3;
    position: relative;
    top: 0px;
    height: 30px;
    width: 30%;
  
    max-width: 300px;
    margin: 0px auto;

    animation-name: error-anim;
    animation-duration: 4s;
    /* animation-play-state: paused; */
    /* animation-fill-mode: forwards; */
  
  }

@keyframes error-anim {
    0% {
        top: 0px;
    }
    10% {
        top: 30px;
    }
    90% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}






.styleUl {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    margin: 0 auto;

    /* background: #a6ff00; */
}
li {
    list-style-type: none;
}
.headerNavigation {
    flex: 1 0 auto; /* grow , shrink, basis */
}


.logo {
    text-decoration: none;
    color: #394040;
    padding-left: 45px;
    flex-basis: 75%;
    /* background: #ff00bf; */
}

.navLink {
    text-decoration: none;
    color: #394040;
    font-size: 120%;
    font-weight: 700;

    flex-basis: 20%;
    /* background: rgba(29, 211, 89, 0.7); */

    transition: 0.1s;
}
.navLink:hover {
    color: rgba(29, 211, 89, 0.7);
}

.userName {
    color: #394040;
    font-size: 120%;
    font-weight: 700;
    flex-basis: 15%;

    /* background: rgba(33, 9, 243, 0.7); */
}




@media (max-width:1920px){
    .logo {
        flex-basis: 70%;
    }
    .navLink {
        flex-basis: 10%;
    }
    .userName {
        flex-basis: 15%;
    }
}
@media (max-width:1430px){
    .logo {
        flex-basis: 70%;
    }
    .userName {
        flex-basis: 15%;
    }
    .navLink {
        flex-basis: 10%;
    }
}
@media (max-width:1260px){
    .logo {
        flex-basis: 65%;
        padding-left: 35px;
    }
    .userName {
        flex-basis: 20%;
    }
    .navLink {
        flex-basis: 10%;
    }
  }
@media (max-width:1200px){
    .logo {
        flex-basis: 60%;
    }
    .userName {
        flex-basis: 20%;
    }
    .navLink {
        flex-basis: 20%;
    }

  }
  @media (max-width:992px){
    .logo {
        flex-basis: 55%;
        padding-left: 35px;
    }
    .userName {
        flex-basis: 25%;
    }
    .navLink {
        flex-basis: 25%;
    }
  }
  @media (max-width:768px){
    .logo {
        flex-basis: 40%;
        padding-left: 25px;
    }
    .userName {
        flex-basis: 38%;
    }
    .navLink {
        flex-basis: 23%;
    }
  }
  @media (max-width:580px){
    .error {  
        background: rgb(240, 152, 152);
        height: 30px;
        width: 50%;
      
        max-width: 600px;
        margin: 0px auto;
      }
      .logo {
        flex-basis: 35%;
        padding-left: 25px;
        }
        .userName {
            flex-basis: 41%;
        }
        .navLink {
            flex-basis: 25%;
        }
  }
  @media (max-width:500px){
      .logo {
        display: none;
        }
        .userName {
            flex-basis: 35%;
            margin-left: 10%;
        }
        .navLink {
            flex-basis: 65%;
            margin-left: 130px;
        }
  }
  @media (max-width:420px){
      .userName {
          display: none;
      }
      .navLink {
          /* flex-basis: 100%; */
      }
}












  