
.wripper {
    height: 800px;
}

.navNavBar {
    
    /* align-items: center;
    padding: 33px 10%; */

   /*  height: 33px;
    width: 100%;
    padding: 3px 0 3px 0;

    max-width: 1920px;
    background: #fff;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid black; */


    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center; */
}

.styleUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.styleLi {
    margin-top: 30px;
    /* list-style-type: none; */
    /*flex: 1 0 auto; */ /* grow , shrink, basis */
    /* margin: 0 0; */
}


.logo {
   /*  text-decoration: none;
    color: #394040;
    margin: 5px 55% 0px 5%; */

}

.navLink {
    text-decoration: none;
    /* color: #394040; */
    /* color: rgb(149, 172, 202); */
    color: white;
    font-size: 120%;
    font-weight: 600;
    transition: 0.1s;
}
.navLink:hover {
    color: rgba(29, 211, 89, 0.9);
}



@media (max-width:1260px){
    .logo {
        margin: 5px 40% 0px 5%;
    }
    li .navLink {    
        margin: 0 10px 0 0;
    }
  }
@media (max-width:1200px){
    .logo {
        margin: 5px 30% 0px 5%;
    }
    li .navLink {    
        margin: 0 10px 0 0;
    }

  }
  @media (max-width:992px){
    .logo {
        margin: 5px 20% 0px 5%;
    }
    li .navLink {    
        margin: 0 5px 0 0;
    }
  }
  @media (max-width:768px){     /* тут лучше уже всё по вертикали или бургер меню */
    .logo {
        /* margin: 5px 10% 0px 5%; */
        margin: 5px 0 0 8%;
        height: 0;
        width: 0;
    }
    li .navLink {
        overflow: hidden;
        display: none;
    }
    ul {
        /* height: 0;
        width: 0; */
    }
  }