.filePage {
  background:  rgb(149, 172, 202);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(245, 248, 253);

  flex-basis: 550px;/* Главная ось */
  height: 400px;/* Недост. ось */
}



/*      Paragraph       */
.Download {
    margin: 0;
    color: #414141;
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 40px;
}



/*      Magnet input       */
.magnetInput {
    width: 80%;/* Второстепенная ось */
    flex-basis: 30px;
    border: 0;
    background: rgba(83, 136, 206, 0.15);
    border-bottom: 1px solid #7e7e7e;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 15px 0 rgba(0,0,0,0.20);
    transition: 0.2s;

    margin-bottom: 20px;
}
.magnetInput:hover {
  border-bottom: 1px solid rgba(29, 211, 89, 0.6);
}


/*      File input       */
.fileInput {
  /* opacity: 0;
  overflow: hidden; */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}
.fileLabel {
  width: 200px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #7e7e7e;
  color: #414141;
  padding-top: 10px;
  text-align: center;
}
.fileLabel:hover {
  color: white;
  background: #333;
}





.clearMagnetButton {
  flex-basis: 25px;
  width: 200px;
  background: rgba(211, 29, 29, 0.6);
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
  cursor: pointer;

  margin-bottom: 10px;
}
.clearMagnetButton:hover {
  background: rgba(211, 29, 29, 0.7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}



.sendMagnetButton { 
  flex-basis: 25px;
  width: 200px;
  background: rgba(29, 211, 89, 0.6);
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
  cursor: pointer;

  margin-bottom: 40px;
}
.sendMagnetButton:hover {
  background: rgba(29, 211, 89, 0.7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}




.sendFileButtonActive {
  flex-basis: 25px;
  width: 200px;
  background: rgba(29, 211, 89, 0.6);

  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;

  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
  cursor: pointer;
}
.sendFileButtonActive:hover {
  background: rgba(29, 211, 89, 0.7);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.17);
}

.sendFileButtonPassive {
  flex-basis: 25px;
  width: 200px;
  background: rgba(173, 173, 173, 0.6);

  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  border-radius: 3px;

  outline: none;
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.3s;/* Время анимации */
}




.testButton {
  background: rgba(211, 29, 29, 0.7);
  outline: none;
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;

  display: none;
}







@media (max-width:768px){     /* тут лучше уже всё по вертикали или бургер меню */
  .form {
      height: 100%;
  }
  .logInForm {
      height: 640px;
  }
}
