/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App-wripper {/* 
  background: #0f2027;
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027); */
  /* background: rgb(67, 88, 121); */
  background: rgb(42, 53, 73);
  height: 1200px;
  width: 100%;
  margin: 0px auto;
}

.Header {
  max-width: 1920px;
  margin: 0 auto;
}

.Container {  
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.Content {
  width: 100%;
  display: flex;
  justify-content: center; /* <------------------------------- */
}

@media (max-width:1200px){
  .Content{
    max-width: 970px;
  }
}
@media (max-width:992px){
  .Content{
    max-width: 750px;
  }
}
@media (max-width:768px){     /* тут лучше уже всё по вертикали или бургер меню */
  .Content{
    max-width: none;
  }
}